body {
    font-family: 'Times New Roman', Times, serif
    margin: 20px;
}
h1 {
    background-color: rgb(246, 203, 102);
    color: white;
    padding: 50px;
    text-align: center;

}
h2 {
    background-color: rgb(36, 75, 8);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 50px auto;



}
img {
    border: 5px solid #555;
    width: 300px;
    height: 300px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(240, 4, 4, 0.1);
}
.project{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
    
nav {
    background-color: rgb(114, 142, 252);
    color: white;
    padding: 50px;
    text-align: center;
    border-style: dotted;
}


